<h1>Reports</h1>

<ul>
  <li><%= link_to "Top Users with more posts", top_user_posts_reports_path %></li>
  <li><%= link_to "Top Users with more likes", top_user_likes_reports_path %></li>
  <li><%= link_to "Top Posts with more likes", top_posts_reports_path %></li>
</ul>